<extend name="Base/common"/>
<block name="style">

</block>
<block name="body">
    <body class="buyRecord">
    <div class="buyticket">
        <div class="top">门票</div>
        <div class="content">
            <div class="txt">
                <span class="txt-item">未使用　<span class="txt-num">{$noUseTicketCount|default='0'}张</span></span>
            </div>
            <div class="txt">
                <span class="txt-item"><a class="txt-look" href="{:U('Ticket/myTicket', array('fromType' => $fromType))}">我的门票</a></span>
                <span class="txt-item"><a class="txt-ticket" href="{:U('Ticket/index', array('fromType' => $fromType))}">继续购票</a></span></div>
        </div>
    </div>

    <!--<div class="buycard">-->
        <!--<div class="top">桂味·大宗提货券</div>-->
        <!--<div class="content">-->
            <!--<div class="txt">-->
                <!--<span class="txt-item">未使用　<span class="txt-num">{$noUseCardCount|default='0'}份</span></span>-->
                <!--<span class="txt-item">已快递　<span class="txt-num">{$expressCardCount|default='0'}份</span></span>-->
            <!--</div>-->
            <!--<div class="txt">-->
                <!--<span class="txt-item"><a class="txt-look" href="{:U('Card/myCard', array('fromType' => $fromType))}">我的提货券</a></span>-->
                <!--<span class="txt-item"><a class="txt-ticket" href="{:U('Card/index', array('fromType' => $fromType))}">继续购买</a></span></div>-->
        <!--</div>-->
    <!--</div>-->

    <div class="buycard">
        <div class="top">荔枝预售</div>
        <div class="content">

            <div class="txt">
                <span class="txt-item"><a class="txt-look" href="https://wap.koudaitong.com/v2/usercenter/8jpvtdxa">我的订单</a></span>
                <span class="txt-item"><a class="txt-ticket" href="{:U('Card/index', array('fromType' => $fromType))}">继续购买</a></span></div>
        </div>
    </div>
    </body>
</block>