<extend name="Base/common"/>
<block name="body">
    <div class="wrap">
        <div class="confirm-label">此次扫描的二维码已预订信息如下</div>
        <div class="confirm-content">
            <span class="form-label">订单类型：</span>
            <span class="form-label">普通票</span>
        </div>
        <div class="confirm-content">
            <span class="form-label">购买张数：</span>
            <span class="form-label">10张</span>
        </div>
        <div class="confirm-content">
            <span class="form-label">联系人手机号：</span>
            <span class="confirm-phone">18127005181</span>
        </div>
    </div>
</block>