@CHARSET "UTF-8";
#viewdot
{
	padding: 50px 0 50px 50px;
	background: #FFF8ED;
	border: 1px dashed #d0860e;
}
.dot_content
{
	font-size: 16px;
}
.dot_name
{
    font-weight: 900;
}
.list_item .title
{
    margin-top: 30px;
    width: 70px;
    background: #403a39;
    text-align: center;
    padding: 5px 4px;
    color: #fefcf9;
    font-size: 10px;
    border-radius: 5px;
}
.list_item hr
{
	width:90%;
}
.list_item .img
{
	float:left;
}
.list_item .img img
{
	width:120px;
	height:120px;
}
.list_item .content
{
	float:left;
	margin-left: 10px;
	font-size: 14px;
	width:650px;
	font-weight: 800;
}
.list_item .content .name
{
	font-weight: 500;
}
.list_item .content div
{
	padding: 8px 0;
}
.list_item .item_classliy
{
	float: right;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    padding: 5px;
    margin: 0;
    color: white;
    background-color: black;
    border-radius: 5px;
}
.list_item .fare_info
{
	clear: both;
	border: 1px dashed #d0860e;
    position: relative;
    margin-top: 165px;
    width:800px;
}
.list_item .fare_title
{
    position: absolute;
    top: -15px;
    left: 35px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #403a39;
    border: 1px dashed #d0860e;
    background: #fcf1df;
    text-align: center;
}
.list_item ul
{
	list-style: none;
    font-size: 14px;
    color: #d0860e;
    line-height: 22px;
    padding: 25px 10px 10px 0;
    margin: 0;
}
.list_item ul span
{
	padding: 0 10px 0 30px;
}
#viewdot .buttons
{
	padding: 50px 100px 0 600px;
}
#viewdot .buttons input
{
	padding: 5px 30px;
    height: auto;
    background-color: #930000;
    font-size: 16px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    border-radius: 12px;
}