<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/selfie.css" rel="stylesheet">
</block>
<block name="body">
<body>
    <div class="qrcode">
        <p class="title">如何参赛及投票</p>
        <img src="__IMG__/code.jpg" class="codeImg">
        <div class="finger">
            <img src="__IMG__/fingerprint.png">
            <span>长按识别二维码</span>
        </div>
        <p class="txt">1. 流程指引：关注田觅觅微信公众号，进入荔枝节专题主页面，点击“创意自拍”报名参赛或者给你的喜欢的选手投票哦。</p>
        <p class="txt">2. 长按识别图中二维码，关注“田觅觅”公众号，即刻参赛投票吧。</p>
    </div>
</body>
</block>