<extend name="Base/common"/>
<block name="body">
    <div class="banner">
        <div class="big-img img5"></div>
    </div>
    <div class="content con-store">
        <div class="item-advantage">
            <h2 class="item-title">我们的优势<span class="title-desc">Our advantage</span></h2>
            <div class="item-num">
                <span class="num-box"><i class="icon-num1"></i><span class="tit">模式创新</span></span>
                <span class="num-box"><i class="icon-num2"></i><span class="tit">分享经济</span></span>
                <span class="num-box"><i class="icon-num3"></i><span class="tit">精准人群</span></span>
                <span class="num-box"><i class="icon-num4"></i><span class="tit">大数据</span></span>
                <span class="num-box"><i class="icon-num5"></i><span class="tit">民俗文化</span></span>
                <span class="num-box"><i class="icon-num6"></i><span class="tit">特色资源</span></span>
                <span class="justify_fix"></span>
            </div>
        </div>
        <div class="item-recruiting">
            <h2 class="item-title">我们正在招募<span class="title-desc">We are recruiting</span></h2>
            <div class="item-desc">
                <ul class="list">
                    <li class="list1">● 景区，农庄、当地特色旅游体验项目</li>
                    <li class="list2">● 民宿、客栈、特色住宿</li>
                    <li class="list3">● 仓储物流</li>
                    <li class="list4">● 农家乐、特色餐饮</li>
                    <li class="list5">● 租车公司、车队</li>
                    <li class="list6">● 农产品、土特产</li>
                    <li class="list7">● 人文地接，深入了解当地风土人情</li>
                </ul>
                <p class="jion">如果您满足以上条件，请加入我们，成为我们的供应商，我们竭诚为您服务。</p>
                <p class="contact">招商电话：0755-33137689&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;官方微信：tianmimisz</p>
                <p class="contact">旅游供应商：ly@365tmm.com&nbsp;&nbsp;农产品供应商：np@365tmm.com</p>
            </div>
        </div>
        <div class="item-process">
            <h2 class="item-title">入驻标准及流程
                <span class="title-desc">Check in process</span>
            </h2>
            <p class="check">
                <a href="{:U('index/standard')}">供应商入驻标准</a>
            </p>
            <div class="item-desc">
                <p class="standard">入驻之前，请您仔细阅读对应的入驻标准</p>
                <div class="process">
                    <div class="tit">入驻流程如下：</div>
                    <img src="__IMG__/process.png">
                </div>
            </div>
        </div>
    </div>
    <span class="icon-to-top"></span>
</block>