#tmm_tabs
{
	min-width:1500px;
}
#tab1 
{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;
}
#none
{
	background-color: rgba(195, 217, 255, 0.5);
	width:590px;
	margin: 0 auto;
	height:131px;
	border-radius: 5px;
}
#none h2
{
	font-weight: 900;
	padding:40px 0 0 140px;
}
#selected_items
{
	width:600px;
	padding:5px;
}
.seleced_item {
	overflow: hidden;
}
#selected_items .item_img
{
	height:120px;
	width:120px;
	float:left;
}
#selected_items .item_img img
{
	height:120px;
	width:120px;
	border-radius: 5px;
}
#selected_items .item_coment
{	
	position: relative;
	float:left;
	background-color: #f5f5f5;
	width:440px;
	height:120px;
    line-height: 50px;
    border-radius: 5px;
    margin-left:10px;
    padding:5px 5px 5px 20px;
}
#selected_items .item_coment .item_coment_mark 
{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	opacity: 0;
	background-color: rgba(195, 217, 255, 0.5);
}
#selected_items .item_coment .item_coment_mark:hover 
{
	opacity: 1;
}
#selected_items .item_coment .item_coment_mark input 
{
	width: 80px;
	height: auto;
	border: none;
	margin: 0 20px;
	cursor: pointer;
	font-size: 16px;
    font-weight: 900;
    border-radius: 12px;
    padding: 5px 20px;
}
#selected_items .item_coment .item_coment_mark input:hover 
{
	background-color: #ED1C24;
}
#selected_items .item_coment .address
{
	 line-height: 30px;
}
#selected_items .item_coment .name
{
	font-weight: bold;
}
#selected_items .item_coment .classliy
{
	float:right;
	font-weight: 900;
    font-size: 30px;
    line-height:30px;
    height:30px;
    padding:5px;
    margin:0;
    color:white;
    background-color: black;
    border-radius: 5px;
}
#selected_items .hr
{
	margin:0 auto 10px auto;
	width:98%;
}
#list_items
{
	-webkit-box:1;      /* OLD - iOS 6-, Safari 3.1-6 */
  	-moz-box:1;         /* OLD - Firefox 19- (buggy but mostly works) */
  	-ms-flexbox:1;      /* TWEENER - IE 10 */
	-webkit-flex:1;     /* NEW - Chrome */
	-ms-flex-direction:row;
	flex:1;
	border: 1px solid #C9E0ED;
	margin-left:10px;
	padding:5px;
}