<extend name="Base/common"/>
<block name="style">
    <link href="__CSS__/vote-public.css" rel="stylesheet">
</block>
<block name="body">
    <div class="public-wrap">
        <div class="public-tip">田觅觅“樱花女神”如何参赛和投票</div>
        <img class="public-code" src="__IMG__/code.jpg">
        <div class="public-fingerprint">
            <img src="__IMG__/fingerprint.png" alt="指纹">
            <span>长按识别二维码</span>
        </div>
        <ul class="public-desc">
            <li>1、长按上方二维码，关注“田觅觅”公众号。</li>
            <li>2、点击菜单栏【活动】→【樱花女神】打开活动页面，就可以报名参赛，也可以给您的樱花女神投票了！</li>
        </ul>
    </div>
</block>
<block name="script">
</block>