#tmm_tabs
{
	min-width:1500px;
}
#tab1 
{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  	display: -ms-flexbox;      /* TWEENER - IE 10 */
  	display: -webkit-flex;     /* NEW - Chrome */
  	display: flex;
}
#selected_dot
{
	width:600px;
	padding:5px;
}
#selected_dot .add_day
{
	width:550px;
    height: 100px;
    border: 1px solid #d0860e;
    color: #af7e33;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    background: none;
    float:right;
    border-radius: 5px;
    cursor:pointer;
    margin:0 5px 0 0;
}
#selected_dot .day_info
{
	padding:5px 5px 20px 5px;
	overflow: hidden;
}
.day_info .item_classliy {
	float: right;
    font-weight: 900;
    font-size: 30px;
    line-height: 30px;
    height: 30px;
    padding: 5px;
    margin: 0;
    color: white;
    background-color: black;
    border-radius: 5px;
}
#selected_dot .day_name
{
	color: #c8a063;
    font-size: 12px;
    padding: 10px 5px;
    width: 12px;
    background: #2e2928;
    float: left;
    height: auto;
    border-radius: 5px;
    line-height: normal;
    margin:10px 10px 0  0;
    cursor:pointer;
}
#selected_dot .dot_info
{
	padding:5px;
	float: right;
}
#selected_dot .none
{
	width:540px;
    height: 100px;
    border: 1px solid #d0860e;
    color: #af7e33;
    font-size: 40px;
    line-height: 100px;
    text-align: center;
    background: none;
    float:right;
    border-radius: 5px;
}
#selected_dot .dot_info hr
{
	widht:95%;
	margin: 0 0 10px;
}
#selected_dot .dot_name
{
	float: left;
	font-size: 14px;
    padding: 2px;
    font-weight: 900;
}
#selected_dot .dot_delete
{
	float: right;
	cursor:pointer;
}
#selected_dot .dot_info .item_info .item_top 
{	
	height: 120px;
}
#selected_dot .dot_info .item_info  
{
	margin: 10px 0 0 0;
}
.dot_info .name
{
	font-weight: bold
}
#selected_dot .item_info .item_number
{
 	background: #2e2928;
    color: #c8a063;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
	float: left;
}
#selected_dot .item_info .item_img
{
	width: 120px;
	height: 120px;
	float: left;
}
#selected_dot .item_info .item_img img
{
	width: 120px;
	height: 120px;
}
#selected_dot .item_info .item_conent
{
	float: left;
	margin-left: 10px;
	width: 380px;
}
#selected_dot .item_info .item_title
{
	padding:8px 0;	
}
#selected_dot .item_info .item_address
{
	height: 35px;
    line-height: 35px;
}
.day_info .fare_info 
{
	clear: both;	
	border: 1px dashed #d0860e;
	position: relative;
	margin-top: 20px;
}
.day_info .fare_info .fare_title 
{
	position: absolute;
    top: -15px;
    left: 35px;
    width: 80px;
    height: 30px;
    font-size: 14px;
    line-height: 30px;
    color: #403a39;
    border: 1px dashed #d0860e;
    background: #fcf1df;
    text-align: center;
}
.day_info .fare_info .fare_list  ul
{
	list-style : none;
	font-size: 14px;
	color: #d0860e;
	line-height: 22px;
	padding: 25px 10px 10px 0;
	margin:0;
}
.day_info .fare_info .fare_list span
{
	padding: 0 0 0 30px;
}
.day_info .fare_delete
{
	float:right;
	cursor:pointer;
}
.selecting
{
	position: relative;
	margin: 0 30px 0 -10px;
	top:20px;
}

#list_dot
{
	-webkit-box:1;      /* OLD - iOS 6-, Safari 3.1-6 */
  	-moz-box:1;         /* OLD - Firefox 19- (buggy but mostly works) */
  	-ms-flexbox:1;      /* TWEENER - IE 10 */
	-webkit-flex:1;     /* NEW - Chrome */
	flex:1;
	border: 1px dashed #d0860e;
	padding:5px;
}