html, body {.
width: 100%;
    height: 100%;
}

body, ul, li, p, input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

body {
    background-color: #333333;
}

input {
    -webkit-appearance: none;
}
a img {
    border: 0;
}
a, a:link, a:hover, a:active, a:visited{
    text-decoration: none;
}

.number-deal::-webkit-textfield-decoration-container {
    /*background-color: #f0f3f9;*/
}
.number-deal::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.number-deal::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.wrapbg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url("../images/bg3.jpg");
    background-size: 100% 100%;
}

.wrap2, form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 320px;
    height: 70%;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;

}

.card .card-header {
    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: center;*/
    position: relative;
    padding: 0 10px;
    height: 60px;
    text-align: center;
    line-height: 20px;
    font-size: 16px;
    background-repeat: no-repeat;
    background-image: -webkit-linear-gradient(bottom, #33c00e, #33c00e 50%, transparent 50%);
    background-image: linear-gradient(0deg, #33c00e, #33c00e 50%, transparent 50%);
    background-position: bottom;
    background-size: 100% 1px;
}

.card .card-body {
    flex:1;
    text-align: left;
    border-bottom: 1px dashed #3f3f40;
    padding-bottom: 10px;
}


.card .card-body .describe {
    margin-top: 20px;
    padding: 0 20px;
    font-size: 10px;
    line-height: 20px;
    text-align: left;
}

.card .card-footer {
    color: #fff;
    height: 100px;
    background-color: #000;
    position: relative;
}

.card .card-footer:before {
    content: "";
    position: absolute;
    top: -7px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    height: 13px;
    border-top: 6px solid #fff;
    border-bottom: 6px solid #fff;
    border-right: 6px solid #333333;
    border-left: 6px solid #333333;
}



.wrap2 .form-row {
    /*display: -webkit-box;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
    padding: 0 20px;
    margin-top: 10px;
    text-align: center;
}
.wrap2 .form-row.form-row-left {
    text-align: left;
    padding-left: 26px;
}

.wrap2 .form-row .tit {
    margin-right: 5px;
    font-size: 13px;
    width: 80px;
    color: #686868;
    text-align: left;
}

.wrap2 .form-row input {
    /*-webkit-box-flex: 1;*/
    /*-webkit-flex: 1;*/
    /*flex: 1;*/
    /*box-sizing: border-box;*/
    padding: 0 3px;
    height: 32px;
    border: 1px solid #000;
    width: 127px;
    border-radius: 0;
    font-size: 14px;
}
.wrap2 .form-row input.input-code {
    width: 216px;
}

.wrap2 .form-row .code {
    padding: 8px 5px;
    width: 74px;
    height: 32px;
    font-size: 13px;
    line-height: 32px;
    text-align: center;
    margin-left: 8px;
    color: #fff;
    background-color: #959595;
}

.wrap2 .form-row.form-price {
    padding-top: 20px;
    padding-right: 30px;
    text-align: right;
}
.wrap2 .form-row.form-price .price {
    font-size: 28px;
}

.wrap2 .card .card-footer {
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0 20px;
}


.wrap2 .card .card-footer .submit {
    color: #fff;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%;
    height: 40px;
    background-color: #33c00e;
    border: none;
    margin: 0 auto;
    border-radius: 5px;
}
.wrap2 .bttip {
    color: #fff;

    width: 300px;
    margin: 20px auto 10px;
}
.wrap2 .bttip .tit {
    font-size: 12px;
}
.wrap2 .bttip .txt {
    font-size: 10px;
}
.card .form-row .count-num {
    /*display: flex;*/
    line-height: 30px;
}
.card .form-row .count-num .num{
    box-sizing: border-box;
    width: 60px;
    height: 32px;
    border: 1px solid #000;
    margin: 0 10px;
}

.card .form-row .count-num .add, .card .form-row .count-num .sub {
    display: inline-block;
    box-sizing: border-box;
    width: 37px;
    height: 32px;
    border: 1px solid #a3a3a3;
    text-align: center;
}

@media screen and (max-width: 320px) {
    .card {
        width: 280px;
        height: 100%;
    }
    .wrap2 .bttip {
        width: 260px;
    }
}


@media screen and (min-width: 321px) and (max-width: 375px) {
    .card {
        width: 300px;
    }
    .wrap2 .bttip {
        width: 280px;
    }
    .wrap2 .form-row.form-row-left {
        text-align: left;
        padding-left: 40px;
    }
}

@media screen and (min-width: 376px) {
    .card {
        width: 340px;
    }
    .wrap2 .bttip {
        width: 320px;
    }
    .wrap2 .form-row input {
        width: 194px;
    }
    .wrap2 .form-row input.input-code {
        width: 282px;
    }
}