<extend name="Base/common"/>
<block name="body">
    <div class="wrap">
        <div class="success-wrap">
            <div class="ticket-tip">您已订票成功，门票二维码如下：</div>
            <img class="ticket-code" src="__IMG__/code.jpg">
        </div>
        <div class="ticket-wrap">
            <div class="ticket-label">门票信息包含如下：</div>
            <div class="ticket-info">
                <div class="ticket-title">普通票：</div>
                <div class="ticket-number">10张</div>
                <div class="ticket-status">
                    未消费
                </div>
                <div class="clear"></div>
            </div>
            <div class="ticket-info">
                <div class="ticket-title">夜樱票：</div>
                <div class="ticket-number">5张</div>
                <div class="ticket-status">
                    未消费
                </div>
                <div class="clear"></div>
            </div>
            <p class="select-title">您可以选择：</p>
            <p class="select-fnc">1、通过截屏方式保存此二维码。</p>
            <p class="select-fnc">2、通过田觅觅微信公众号查询。</p>
        </div>
    </div>
</block>