<extend name="Base/common"/>
<block name="body">
    <div class="container gdu-container">
        <div class="row gdu-row-left">
            <div class="col-xs-12 col-sm-9">
                <div class="row show-grid">
                    <div class="col-xs-12 col-sm-12">
                        <ul class="article-lists" id="article_more_content">
                        <volist name="list" id="article">
                            <li><a href="{:U('Article/detail?id='.$article['id'])}" target="_blank">{$article.title}</a><span>{$article.update_time|date='Y-m-d',###}</span></li>
                        </volist>
                        </ul>
                    </div>
                </div>
                <div class="row gdu-article-row">
                    <div class="col-sm-12 gdu-article-more" id="articleLoadMore" data-page="{$pageInfo.down_page}">
                        <empty name="pageInfo.down_page">
                            <span>没有更多文章了</span>
                            <else />
                            <span>更多文章</span><span class="glyphicon glyphicon glyphicon-menu-down"></span>
                        </empty>
                    </div>
                </div>
            </div>
            <!--/.col-xs-12.col-sm-9-->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
                <include file="Public/sidebar"/>
            </div>
            <!--/.sidebar-offcanvas-->
        </div>
        <!--/row-->
        <div class="go-top" style="display: none;"></div>
    </div>
</block>
<block name="script">
    <script id="article-template" type="text/x-handlebars-template">
        {{#each articleList}}
            <li><a href="{{../appUrl}}/home/article/detail/id/{{id}}.html" target="_blank">{{title}}</a><span>{{prettifyDate update_time}}</span></li>
        {{/each}}
    </script>
    <script>
        $('#articleLoadMore').on('click', function() {
            var that = this;
            // 下一页
            var nextPage = $(that).attr('data-page');
            if (nextPage == '') return ;

            $.post(nextPage).success(function(data){
                if (data.status==1) {
                    var dataRes = JSON.parse(data.info);
                    dataRes.appUrl = Think.APP;
                    var source   = $("#article-template").html();
                    var template = Handlebars.compile(source);
                    var html    = template(dataRes);
                    $('#article_more_content').append(html);
                    if (dataRes.pageInfo.down_page) {
                        $(that).attr('data-page', dataRes.pageInfo.down_page);
                    } else {
                        $(that).attr('data-page', '');
                        $(that).html('<span>没有更多文章了</span>');
                    }
                }
            });
        });
    </script>
</block>