.group_container {
    width: 100%;
    /*#F2F2F2;*/
    background-color: #FFF;
}
.group_container .group_header {
    height: 30px;
    line-height: 30px;
    border-bottom: 3px solid #999999;
    margin: 0;
}
.group_container .group_header .title {
    height: 30px;
    background-color: #999999;
    color: #000;
    font-weight: 700;
    padding: 5px 5px 8px 5px;
}
.group_container .group_wrap {
    position: relative;
    margin-top: 15px;
    padding: 5px 5px 5px 20px;
    margin-left: 30px;
    border-left: 3px solid #c0a16b;
}
.group_container .group_wrap .warp_day {
    position: absolute;
    top: 50px;
    left: -33px;
    display: inline-block;
    width: 20px;
    line-height: 20px;
    padding: 5px 5px;
    background-color: #999999;
    text-align: center;
    color: #FFFFFF;
    font-size: 14px;
}

.group_container .group_wrap .warp_left {
    float: left;
    width: 60%;
    padding-right: 10px;
    /*border: 1px solid red;*/
    border-right: 1px dashed #000000;
}

.group_container .group_wrap .warp_left h2 {
    font-weight: 700;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding-bottom: 5px;
}

.group_container .group_wrap .warp_left .item {
    position: relative;
    margin: 0 0 10px 33px;
    /*border: 1px solid #000080;*/
}
.group_container .group_wrap .warp_left .item .item_id {
    position: absolute;
    top: 20px;
    left: -32px;
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    background-color: #999999;
    color: #000000;
    border-radius: 100%;
    text-align: center;

}

.group_container .group_wrap .warp_left .item .item_content {
    float: left;
    width: 50%;
}

.group_container .group_wrap .warp_left .item .item_content h3 {
    margin: 0;
    padding: 5px 5px;
}

.group_container .group_wrap .warp_left .item .item_content h3 span {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #999999;
    color: #000000;
    font-size: 14px;
    font-weight: 900;
}

.group_container .group_wrap .warp_left .item .store,
.group_container .group_wrap .warp_left .item .address
{
    margin: 0;
    padding: 5px 5px;
}
.group_container .group_wrap .warp_left .item .address
{
   border:1px solid white;
}

.group_container .group_wrap .warp_left .item .item_shops {
    float: left;
    position: relative;
    width: 45%;
    margin-top: 10px;
    padding: 8px 5px;
    border: 1px dashed #797979;
}

.group_container .group_wrap .warp_left .item .item_shops .item_shops_title {
    position: absolute;
    top: -15px;
    left: 20px;
    background-color: #FFFFFF;
}

.group_container .group_wrap .warp_right {
    float: left;
    width: 33%;
    padding: 5px 5px;
    margin-left: 20px;
    /*border: 1px solid #e1e1e1;*/
}

.group_container .group_wrap .warp_right h4{
    font-size: 14px;
    font-weight: 900;
    color: #000000;
}

.group_container .group_wrap .warp_right p{
    text-indent: 2em;
}

.group_container .group_wrap .warp_right textarea{
    width: 98%;
    height: 100px;
    margin: 0;
    padding: 0;
}


.group_container .group_wrap .clearfix {
    clear: both;
}
