<meta charset="UTF-8">
<title>{:C('WEB_SITE_TITLE')}</title>
<meta name="baidu-site-verification" content="H5sB6yh88E" />
<meta name="360-site-verification" content="3a269a4d0f78a7af62a970a7bae62a17" />
<meta name="sogou_site_verification" content="JJLR5mePvx" />
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<meta property="og:type" content="news" />
<meta property="og:title" content="{:C('WEB_SITE_TITLE')}" />
<meta property="og:description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<meta property="og:image" content="__IMG__/logo.png" />
<link href="__ROOT__/Public/favicon.ico" type="image/x-icon" rel="shortcut icon">
<link rel="stylesheet" type="text/css"href="__CSS__/sprites.css" />
<link rel="stylesheet" type="text/css"href="__CSS__/main.css" />
<block name="style"></block>
<!--[if lt IE 9]>
<script type="text/javascript" src="__STATIC__/jquery-1.10.2.min.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="__STATIC__/jquery-2.0.3.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="__JS__/main.js"></script>
<!-- 页面header钩子，一般用于加载插件CSS文件和代码 -->
{:hook('pageHeader')}
